# --- הגדרות פרטיות וסביבה ---
.env
.venv/
venv/
env/
ENV/

# --- קבצי דאטה ו-Embeddings (חשוב מאוד!) ---
# הקובץ שיצרת עכשיו (7,466 וקטורים) יהיה כבד מאוד לגיט
*.npy
*.csv
*.png
*.jpg
*.jpeg
*.dcm

# אם תרצו בכל זאת להעלות דוגמה קטנה אחת לגיט כדי שהשותף יראה את המבנה:
!indiana_reports_sample.csv

# --- פייתון ומערכת ---
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# --- כלי פיתוח (IDE) ---
.idea/
.vscode/
*.swp
*.swo

# --- מערכת הפעלה ---
.DS_Store
Thumbs.db